<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="css/base.css">
        <title>Training Development BabylongJs</title>
    </head>

    <body>
        <canvas id="main"></canvas>

        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/babylonjs/dist/babylon.2.5.js"></script>
        <script src="/js/spheredb.js"></script>
        <script src="/js/linedb.js"></script>
        <script src="/js/training.js"></script>
    </body>
</html>